<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bet victor</title>
  </head>
  <body>
    {{#if links.self }} 
      <a href={{links.self}}>Refresh</a>
    {{/if}}
    {{{body}}}
  </body>
</html>